/* Wednesday 25th of May 2016 07:44:17 PM*/

/* Hide slug box under title */
#edit-slug-box{
    display: none;
}

/* Hide preview button */
#preview-action{
    display: none;
}

#postbox-container-1{
    display: none;
}

#poststuff #post-body.columns-2{
    margin-right: 0;
}

#nextend_configuration .handlediv,
#nextend_configuration .hndle{
    display: none;
}

#nextend_configuration .inside{
    padding: 0;
    margin: 0;
}#smartslider-admin .clearfix{
    clear: none;
}

.nextend-clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#nextend_configuration{
    font-family: 'Open Sans', Arial, sans-serif;
}

.NextendWindowSaveContainer{
    width: 162px;
    float: right;
    left: 50%;
    bottom: 5px;
    margin-left: -81px;
    background: #d3d3d3;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.NextendWindowSave{
    width: 130px;
    height: auto;
    line-height: 68px;
    border-left: 1px solid #171C23;
    border-radius: 0 3px 0 0;
    background: #98d130; /* Old browsers */
    background: -moz-linear-gradient(top, #98d130 0%, #4a9901 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98d130), color-stop(100%,#4a9901)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #98d130 0%,#4a9901 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #98d130 0%,#4a9901 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #98d130 0%,#4a9901 100%); /* IE10+ */
    background: linear-gradient(top, #98d130 0%,#4a9901 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98d130', endColorstr='#4a9901',GradientType=0 ); /* IE6-9 */
    text-align: center;
    float: right;
    font-size: 18px;
    font-weight: bold;
    color: #F3F7EF;
    text-shadow: 0 0px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 1px RGBA(255,255,255,0.2) inset;
    cursor: pointer;
}

.NextendWindowSave:HOVER{
    background: #90c829; /* Old browsers */
    background: -moz-linear-gradient(top, #90c829 0%, #438b00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90c829), color-stop(100%,#438b00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #90c829 0%,#438b00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #90c829 0%,#438b00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #90c829 0%,#438b00 100%); /* IE10+ */
    background: linear-gradient(top, #90c829 0%,#438b00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90c829', endColorstr='#438b00',GradientType=0 ); /* IE6-9 */
}

.NextendWindowSave:ACTIVE{  
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.4) inset;
    padding-top: 1px;
}

.NextendWindowCancel{
    border-top-right-radius: 0;
    border-left: 1px solid #171C23;    
    font-family: 'Montserrat',Arial,sans-serif;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
    color: #F3F7EF;
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-weight: bold;
    height: auto;
    line-height: 68px;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    width: 130px;
    text-transform: uppercase;

    background: #ac3a26;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #c96f48 0%, #ac3a26 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #c96f48 0%, #ac3a26 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #c96f48 0%, #ac3a26 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c96f48), color-stop(1, #ac3a26));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #c96f48 0%, #ac3a26 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #c96f48 0%, #ac3a26 100%);
}
.NextendWindowCancel:HOVER{
    background: #bb6843;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #bb6843 0%, #9f3624 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #bb6843 0%, #9f3624 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #bb6843 0%, #9f3624 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bb6843), color-stop(1, #9f3624));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #bb6843 0%, #9f3624 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #bb6843 0%, #9f3624 100%);
}

div .nextend-button-css,
div .nextend-button-css:link,
div .nextend-button-css:visited{
    font-size: 11px;
    color: #575656;
    text-shadow: 1px 1px 1px #fff;
    cursor: pointer;
    padding: 0 14px;
    height: 20px;
    line-height: 20px;
    margin: 0 5px;
    float: left;
    border: 1px solid #D3D3D3;
    background: -moz-linear-gradient(top, #fafafa 0%, #dcdcdc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#dcdcdc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fafafa 0%,#dcdcdc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fafafa 0%,#dcdcdc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fafafa 0%,#dcdcdc 100%); /* IE10+ */
    background: linear-gradient(top, #fafafa 0%,#dcdcdc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
    border-radius: 3px;
    text-decoration: none;
}

div .nextend-button-css:HOVER{
    color: #fff;
    text-shadow: 1px 1px 1px #575656;
    border-color: #6ca502;
    background: -moz-linear-gradient(top, #689e02 0%, #72ae02 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#689e02), color-stop(100%,#72ae02)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #689e02 0%,#72ae02 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #689e02 0%,#72ae02 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #689e02 0%,#72ae02 100%); /* IE10+ */
    background: linear-gradient(top, #689e02 0%,#72ae02 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#689e02', endColorstr='#72ae02',GradientType=0 ); /* IE6-9 */
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #FFFFFF;
    text-decoration: none;
}

.nextend-message{
    color: #6C7581;
    float: left;
    font-size: 11px;
    line-height: 24px;
    margin-left: 10px;
    text-shadow: 1px 1px 1px #FFFFFF;
}

.nextend-button-grey{
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DEE1E8 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DEE1E8 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #DEE1E8 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #DEE1E8));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #DEE1E8 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #DEE1E8 100%);
    cursor: pointer;
}

.nextend-button-blue-active.active{
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #2A9AE8 0%, #1C68DC 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #2A9AE8 0%, #1C68DC 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #2A9AE8 0%, #1C68DC 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2A9AE8), color-stop(1, #1C68DC));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #2A9AE8 0%, #1C68DC 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #2A9AE8 0%, #1C68DC 100%);
}.nextend-window{
    display: block;
    width: 100%;
    height: 1px;
    position: fixed;
    background-color: #3e3e3e;
    background-color: RGBA(0,0,0,0.3);
    left: 0;
    top:0;
    z-index:99;
    overflow:hidden;
    font-family: 'Open Sans', Arial, sans-serif;
}

#config_edit_form .nextend-window,
#nextend-fontmanager-lightbox,
#content-box .nextend-window{
    z-index:101;
}

.wp-admin #nextend-fontmanager-lightbox,
.wp-admin .nextend-window{
    z-index:10000;
}

.nextend-window.nextend-no-style{
    display: block;
    position: static;
    width: auto;
    height: auto;
    background-color: #fff;
    z-index:1;
}

.nextend-window .nextend-window-container{
    height: 100%;
    width: 100%;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px RGBA(0,0,0,0.6);
    overflow:auto;
    cursor: pointer;
}

.nextend-topbar{
    cursor: default;
    height: 68px;
    border-radius: 5px 5px 0 0;  
    -moz-border-radius:  5px 5px 0 0; 
    -webkit-border-radius:  5px 5px 0 0; 
    border: 1px solid #171c23;
    position: relative;
    z-index: 2;
    background: #4B5C70; /* Old browsers */
    background: -moz-linear-gradient(top, #4B5C70 0%, #333F4C 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4B5C70), color-stop(100%,#333F4C)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4B5C70 0%,#333F4C 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4B5C70 0%,#333F4C 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4B5C70 0%,#333F4C 100%); /* IE10+ */
    background: linear-gradient(top, #4B5C70 0%,#333F4C 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4B5C70', endColorstr='#333F4C',GradientType=0 ); /* IE6-9 */
    line-height: 114px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset,  0px 2px 3px RGBA(0,0,0,0.5);
}

.nextend-topbar-logo{
    width: 249px;
    height: 100%;
    border-right: 1px solid #171c23;
    background: center center no-repeat;
    float: left;
    background-image: url(//intra.cinq.com.br/wp-content/plugins/smart-slider-2/nextend/assets/css/../images/admin/framework.png);
    background-position: center center;
}

.accordionmenu .nextend-topbar-logo{
    background-image: url(//intra.cinq.com.br/wp-content/plugins/smart-slider-2/nextend/assets/css/../images/admin/accordionmenu.png);
    background-position: center 17px;
}

.smartslider .nextend-topbar-logo,
.nextend-smart-slider-admin .nextend-topbar-logo{
    background-image: url(//intra.cinq.com.br/wp-content/plugins/smart-slider-2/nextend/assets/css/../images/admin/smartslider.png);
    background-position: center center;
}

a.nextend-topbar-button{
    display: block;
    width: 97px;
    height: 100%;
    border-right: 1px solid #171c23;
    float: left;
    background: center center no-repeat;
    text-align: center;
    color: #e5e7e9 !important;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 104px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
}

a.nextend-topbar-button:HOVER{
    text-decoration: none;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2) inset;
    background-color: RGBA(0,0,0,0.2);
}

a.nextend-topbar-button:ACTIVE{
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.4) inset;
    line-height: 106px;  
    background-position: center 13px;
}

a.nextend-topbar-manual{
    background-image: url(//intra.cinq.com.br/wp-content/plugins/smart-slider-2/nextend/assets/css/../images/admin/manual.png);
    background-position: center 12px;
}

a.nextend-topbar-support{
    background-image: url(//intra.cinq.com.br/wp-content/plugins/smart-slider-2/nextend/assets/css/../images/admin/support.png);
    background-position: center 12px;
}

a.nextend-topbar-getpro{
    background-image: url(//intra.cinq.com.br/wp-content/plugins/smart-slider-2/nextend/assets/css/../images/admin/getpro.png);
    background-position: center 12px;
}

.nextend-window .nextend-window-container .nextend-window-container-inner{
    height: 100%;
    width: 100%;
    overflow: auto;
    cursor: default;
    background: #fff;
}

.nextend-window{
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition:  opacity 0.4s linear;
    -o-transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

.nextend-window.active{
    opacity: 1;
}

.nextend-window .pane-sliders{
    margin: 18px 0 0;
    position: relative;
}#nextend-configurator-button{
    display: block;
    height: 34px;
    width: 180px;
    overflow:hidden;
    margin: 2px 0;
    padding: 0 5px;
    text-decoration: none;
    background: #e6e9ed; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e6e9ed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e9ed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e6e9ed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e6e9ed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e6e9ed 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#e6e9ed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e9ed',GradientType=0 ); /* IE6-9 */  
    border-radius: 50px;  
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px;  
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    color: #7c848f;
    text-transform: uppercase;
    text-shadow: 0 1px 1px white;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 -3px 5px rgba(0, 0, 0, 0.05) inset;
    text-align: center;
}

#nextend-configurator-button span{
    background: url(//intra.cinq.com.br/wp-content/plugins/smart-slider-2/nextend/assets/css/../images/cog.png) no-repeat center center;
    display: block;
    height: 36px;
    width: 36px;
    float: right;
    margin-left: -20px;
}

.nextend-configurator-button:HOVER{
    background-position: 0 -50px;
}

#nextend-configurator-message{
    color: #6C7581;
    font-size: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
}

.nextend-form .nextend-configurator-button{
    height: 22px;
    margin: 2px 0 2px 20px;
    width: auto;
    float: left;
    padding: 0 15px;
    text-decoration: none;
    background: #e6e9ed; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e6e9ed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e9ed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e6e9ed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e6e9ed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e6e9ed 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#e6e9ed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e9ed',GradientType=0 ); /* IE6-9 */      
    text-shadow: 0 1px 1px white;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 -3px 5px rgba(0, 0, 0, 0.05) inset;  
    border-radius: 50px;  
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px;  
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 22px;
    color: #7c848f;
    text-transform: uppercase;
}

.x-rtl .nextend-form .nextend-configurator-button{
    float: right;
    margin: 2px 20px 2px 0;
}

#nextend-configurator-button:HOVER,
.nextend-form .nextend-configurator-button:HOVER{
    background: #dee1e8; /* Old browsers */
    background: -moz-linear-gradient(top, #fbfcfe 0%, #dee1e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfe), color-stop(100%,#dee1e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fbfcfe 0%,#dee1e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fbfcfe 0%,#dee1e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fbfcfe 0%,#dee1e8 100%); /* IE10+ */
    background: linear-gradient(top, #fbfcfe 0%,#dee1e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcfe', endColorstr='#dee1e8',GradientType=0 ); /* IE6-9 */  
}

.nextend-window .nextend-configurator-button:ACTIVE{  
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3) inset;
    line-height: 24px;
}

#nextend-configurator-button:ACTIVE{  
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3) inset;
}

/* IE fix */
.x-msie-8 #nextend-configurator-button,
.x-msie-8 .nextend-window .nextend-configurator-button,
.x-msie-8 a.nextend-font-button,
.x-msie-8 #nextend-fontmanager-cleartab,
.x-msie-8 #nextend-fontmanager-tabs .nextend-tab,
.x-msie-8 .nextend-decoration .nextend-checkbox-option,
.x-msie-8 .nextend-textalign .nextend-radio-option,
.x-msie-9 #nextend-configurator-button,
.x-msie-9 .nextend-window .nextend-configurator-button,
.x-msie-9 a.nextend-font-button,
.x-msie-9 #nextend-fontmanager-cleartab,
.x-msie-9 #nextend-fontmanager-tabs .nextend-tab,
.x-msie-9 .nextend-decoration .nextend-checkbox-option,
.x-msie-9 .nextend-textalign .nextend-radio-option{
    border: 1px solid #d2d2d2;
    border-radius: 0px;
}

.x-msie-8 .nextend-decoration .nextend-checkbox-option,
.x-msie-8 .nextend-textalign .nextend-radio-option,
.x-msie-9 .nextend-decoration .nextend-checkbox-option,
.x-msie-9 .nextend-textalign .nextend-radio-option{
    filter: none;
    box-shadow: none;
}

.x-msie-8 .nextend-decoration .nextend-checkbox-option.selected,
.x-msie-8 .nextend-textalign .nextend-radio-option.selected,
.x-msie-9 .nextend-decoration .nextend-checkbox-option.selected,
.x-msie-9 .nextend-textalign .nextend-radio-option.selected{
    background-color: #B8B8B8;
    border: 1px solid #8b8b8b;
}

.x-msie-8 .qtip-default{
    background-color: #33383a;
}/*!
 * qTip2 - Pretty powerful tooltips - 
 * http://qtip2.com
 *
 * Copyright (c) 2013 Craig Michael Thompson
 * Released under the MIT, GPL licenses
 * http://jquery.org/license
 *
 * Date: Thu May 9 2013 04:46 UTC+0000
 * Plugins: svg ajax tips modal viewport imagemap ie6
 * Styles: basic css3
 */

/* Core qTip styles */
.qtip, .qtip{
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;
    max-width: 380px;
    min-width: 50px;	
    font-size: 12px;
    line-height: 16px;
    direction: ltr;	
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    color: white;  
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 -1px 1px RGBA(0,0,0,0.6);
}

.qtip-content{
    position: relative;
    padding: 12px 20px;
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 16px;
}

.qtip-titlebar{
    position: relative;
    padding: 5px 35px 5px 10px;
    overflow: hidden;
    border-width: 0 0 2px;
}

/* Default tooltip style */
.qtip-default{
    background-color: RGBA(51,56,58,0.95);
}

.qtip-default .qtip-titlebar{
    background-color: #FFEF93;
}

.qtip-default .qtip-icon{
    border-color: #CCC;
    background: #F1F1F1;
    color: #777;
}

.qtip-default .qtip-titlebar .qtip-close{
    border-color: #AAA;
    color: #111;
}


/* Add shadows to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.qtip-shadow{
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}


/* Tips plugin */
.qtip .qtip-tip{
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
}

.qtip-tip canvas{
    background: red;
}

.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml{
    position: absolute;
    color: #123456;
    background: transparent;
    border: 0 dashed transparent;
}

.qtip .qtip-tip canvas{ top: 0; left: 0; float:left; }

.qtip .qtip-tip .qtip-vml{
    behavior: url(#default#VML);
    display: inline-block;
    visibility: visible;
}



/* IE6 Modal plugin fix */
.qtipmodal-ie6fix{
    position: absolute !important;
}#nextend-configurator-panels,
#menu-pane,
#nextend-type-panel,
#nextend-type-panels,
#nextend-theme-panel,
#nextend-theme-panels,
#nextend-fonts-panel,
#nextend-fonts-panels,
#nextend-source-panel,
#nextend-source-panels{
    margin: 0;
    padding: 0;
}

#nextend-configurator-wp .nextend-form div.nextend-tab h3,
.nextend-form div.nextend-tab h3{
    height: 40px;
    margin: 0;
    padding: 0 15px;
    color: #697481;
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
    background: #dee1e8; /* Old browsers */
    background: -moz-linear-gradient(top, #f7f8fa 0%, #dee1e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f8fa), color-stop(100%,#dee1e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7f8fa 0%,#dee1e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7f8fa 0%,#dee1e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f8fa 0%,#dee1e8 100%); /* IE10+ */
    background: linear-gradient(top, #f7f8fa 0%,#dee1e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f8fa', endColorstr='#dee1e8',GradientType=0 ); /* IE6-9 */    
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 1px white;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 -5px 10px rgba(0, 0, 0, 0.05) inset;
    cursor: default;
}

.nextend-form .nextend-tab table{
    width: 100%;
    border-spacing:0;
    border-collapse:collapse; 
}

.nextend-form .nextend-tab table tr{
    height: 40px;
}

.nextend-form .nextend-tab table tr.odd{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.nextend-form .nextend-tab table tr.odd:first-child{
    border-top: none;
}

.nextend-form .nextend-tab table tr.even:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nextend-form .nextend-tab table td{
    vertical-align: middle;
}

.nextend-form .nextend-tab table td.nextend-label{
    width: 233px;
    padding: 5px 8px;
    text-align: right;
}

.nextend-form .nextend-tab table td.nextend-element{
    padding: 5px 10px;
}

.nextend-form .nextend-tab table td.nextend-label label{
    float:none;
    min-width: auto;
    max-width: none;
    display: inline;
    margin: auto;
    padding: auto;
    color: #738aa2;
    font-size: 13px;
    font-weight: 600;
    text-shadow: 0 1px 1px white;
}

.nextend-form .nextend-tab table .odd td,
.nextend-form .nextend-form .nextend-tab table .odd td{
    background-color: #eef3f8;
}

.nextend-form td.nextend-hastip,
.nextend-form td.nextend-hastip label{
    cursor: help;
}

.nextend-form .nextend-tab table .odd td.nextend-label,
.nextend-form .nextend-form .nextend-tab table .odd td.nextend-label{
    border-right: 1px solid RGBA(0,0,0,0.1); ;
}

.nextend-form .nextend-tab table .even td,
.nextend-form .nextend-form .nextend-tab table .even td{
    background-color: #ffffff;
}

.nextend-form .nextend-tab table .even td.nextend-label,
.nextend-form .nextend-form .nextend-tab table .even td.nextend-label{
    border-right: 1px solid #eeeeee;
}

.nextend-form select{
    height: 21px;
    font-size: 12px;
    font-weight: 400;
    margin: 3px 0;
    padding: 0;
}

.nextend-form select[multiple] {
    height: auto;
    padding: 0 10px;
}

.nextend-form .nextend-tab table td.nextend-label,
.nextend-form .nextend-tab table td.nextend-element,
.nextend-form .nextend-tab table td.nextend-element label,
.nextend-form select,
.nextend-form h3{
    font-family: 'Open Sans', Arial, sans-serif !important;
    font-weight: 600;
}

.nextend-form select{
    color: #6C7581;  
    border-radius: 3px;  
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;
    width: auto;
}

.nextend-form input:focus,
.nextend-form select:focus, 
.nextend-form textarea:focus{
    background-color: #fcf4d4;
}.nextend-onoff{
    float: left;
    background: url(//intra.cinq.com.br/wp-content/plugins/smart-slider-2/nextend/assets/css/element/../../images/onoff.png) -26px 0 no-repeat;
    width: 48px;
    height: 18px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #adbcc5;
    margin: 2px 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -webkit-transition:background-position 0.2s ease-in;  
    -moz-transition:background-position 0.2s ease-in;  
    -o-transition:background-position 0.2s ease-in;  
    transition:background-position 0.2s ease-in;  
}

.x-rtl .nextend-onoff{
    float: right;
}

.nextend-onoff.nextend-onoff-on{
    background-position: 0 0;
}
.nextend-text{
    float: left;
    position: relative;
    height: 18px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    padding: 0 5px;
    margin: 3px 4px 3px 0;
    box-shadow: 0px 1px 2px RGBA(0,0,0,0.2) inset;
    background: -moz-linear-gradient(center top , #fff 0%, #DEE1E8 100%) repeat scroll 0 0 transparent; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#DEE1E8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#DEE1E8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#DEE1E8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#DEE1E8 100%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#DEE1E8 100%); /* W3C */
}

.x-rtl .nextend-text{
    float: right;
    margin: 3px 0 3px 4px;
}

.nextend-text.focus{
    background: -moz-linear-gradient(top, #fef3cb 0%, #f6ebc5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef3cb), color-stop(100%,#f6ebc5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fef3cb 0%,#f6ebc5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fef3cb 0%,#f6ebc5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fef3cb 0%,#f6ebc5 100%); /* IE10+ */
    background: linear-gradient(top, #fef3cb 0%,#f6ebc5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef3cb', endColorstr='#f6ebc5',GradientType=0 ); /* IE6-9 */
}

.nextend-text input,
.nextend-text input:focus,
.nextend-text-unit{
    height: 18px;
    line-height: 16px;
    color: #6c7581;
    font-size: 11px;
    font-family: 'Open Sans', Arial, sans-serif;
    border: 0;
    background: none;
    padding: 0;
    float: left;
    margin: 0;
    /*width: auto;
    max-width: 100%;*/
    box-shadow: none;
}

.x-rtl .nextend-text input,
.x-rtl .nextend-text input:focus,
.x-rtl .nextend-text-unit{
    float: right;
}

.nextend-text input{
    display: block;
    width: 100%;
    max-width: none;
}

.nextend-text.nextend-hasunit input,
.nextend-text-unit{
    float: left;
    width: auto;
}

.x-rtl .nextend-text.nextend-hasunit input,
.x-rtl .nextend-text-unit{
    float: right;
}

.nextend-text-unit{
    border-left: 1px solid #cfcfcf;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0 2px 0 2px;
    background: #e6e9ed; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e6e9ed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e9ed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e6e9ed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e6e9ed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e6e9ed 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#e6e9ed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e9ed',GradientType=0 ); /* IE6-9 */    
    font-size: 10px;
    margin: 0 -5px 0 5px;
}

.x-rtl .nextend-text-unit{
    margin: 0 5px 0 -5px;
    border-radius: 3px 0 0 3px;
    border-left: 0;
    border-right: 1px solid #cfcfcf;
}

.x-rtl .nextend-element .button2-left{
    float: right !important;
    margin: 2px 10px 2px 0 !important;
}.nextend-radio{
    margin: 1px 0;
}

.nextend-radio-option{
    background: url(//intra.cinq.com.br/wp-content/plugins/smart-slider-2/nextend/assets/css/element/../../images/radio.png) 0 0 no-repeat;
    padding: 0 5px 0 12px;
    float: left;
    margin-right: 20px;
    font-size: 12px;
    color: #6c7581;
    vertical-align: middle;
    line-height: 17px;    
    cursor: pointer;
    text-shadow: 0 1px 1px white;
    font-weight: normal;
    background-position: 0 3px;
}

.x-rtl .nextend-radio-option{
    float: right;
}

.nextend-radio-option:HOVER{
    background-position: 0 -45px;
}

.nextend-radio-option.selected{
    background-position: 0 -21px;
}

.nextend-horizontal-element .nextend-radio{
    margin: 2px 0;
}