/*
Theme Name: CINQnet Clean
Theme URI:
Description: CINQnet.
Author: Yanne Moreira
Author URI:
Version: 1.0
Tags: cinq, intranet

License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)
License URI: http://creativecommons.org/licenses/by-sa/3.0/

This simple theme was built using the example Bootstrap theme "Basic marketing site" found on the Bootstrap web site http://twitter.github.com/bootstrap/examples/hero.html
*/

/* Global Styles */
@import url('css/bootstrap.css');  
@import url('fonts/roboto-condensed.css');
@import url('fonts/open-sans.css');
@import url('fonts/iconscinq.css');
@import url('font-awesome/css/font-awesome.min.css');

html{
	margin: 0px !important;
}

body, html{
    height:100%;
}

body {
    padding:0;
    margin:0;
    background-color: #fff;
	font-family: 'Roboto Condensed', sans-serif !important;
}

@media(min-width:768px) {
    body {
        margin-top: 0px;
    }
}

/*
    1.6 Scroll Bar
*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-border-radius: 0px;
    border-radius: 2px;*/
    background-color: #eee;
    border: 1px solid #fff;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #A0A0A0; 
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/ 
}

#wrapper {
    overflow:hidden;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {

 #wrapper {
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    padding-left: 45px;
    }
	
	.wrapper-off {
		padding-left: 180px !important;
	}

    #page-wrapper {
        padding: 10px;
		margin-top: 46px;
    }
}

/* Top Navigation */
.logo{
	padding: 15px;
	height: 76px;
  width: 45px;
  background: #048fc6 url(logo-min.png) center no-repeat;
  background-size: contain;
	
  -moz-transition: width 200ms ease-in, background-image 400ms;
  -webkit-transition: width 200ms ease-in, background-image 400ms;
  -o-transition: width 200ms ease-in, background-image 400ms;
  transition: width 200ms ease-in, background-image 400ms;
}

.logo-off{
	background: #048fc6 url(logo-intra.png) center no-repeat;
	background-size: contain;
	width: 180px;
	height: 75px;
	}

.top-nav {
    margin-top: 0px;
	padding: 0 15px ;
}


.navbar-default{
	border: 0px;
}
.top-nav>li {
    display: inline-block; 
    padding-bottom: 10px;
    line-height: 30px;
    color: #888;
}

.top-nav>li>a {
   
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #048fc6;
    background-color: transparent;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: -20px;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li {
    padding: 0px 10px;
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

.navbar-fixed-top{
	height: 50px !important;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
	font-size: 0.9em;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Menu */

@media(min-width:768px) {

.side-nav{
	top: 117px;
    position: fixed;
    border: none;
    background-color: #048fc6;
    text-transform: uppercase;
    height: 100%;
    margin-left: -45px;
    width: 45px;
    left: 45px;


	  -moz-transition:width 200ms ease-in;
    -webkit-transition:width 200ms ease-in;
    -o-transition:width 200ms ease-in;
    transition:width 200ms ease-in;
	}

	.side-nav-off{
		left: 180px;
    	width: 180px;
    	margin-left: -180px;
    }

.side-nav ul { 
 	list-style:none;
 	margin:0;
 	padding:0;
 }

.side-nav > li {
 	position:relative;
	float: initial !important;
	-moz-transition:width 200ms ease-in;
    	-webkit-transition:width 200ms ease-in;
    	-o-transition:width 200ms ease-in;
    	transition:width 200ms ease-in;
}


    .side-nav li a {
    padding-left: 13px;    
	  color: #fff !important;
    width: 45px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    }
		
		.side-nav-off > li > a {
			width: 180px;
		}
		
		

    .side-nav li a:hover{
    background-color: #1d789c;
    }

.side-nav li.active > a,
.side-nav li.active > a:hover,
.side-nav li.active > a:focus,
.side-nav li.current-menu-item a,
.side-nav li.current-menu-item a:hover,
.side-nav li.current-menu-item a:focus,
.side-nav li.current-menu-parent a,
.side-nav li.current-menu-parent a:hover,
.side-nav li.current-menu-parent a:focus,
.side-nav li.current_page_item a,
.side-nav li.current_page_item a:hover,
.side-nav li.current_page_item a:focus {
    background-color: #1d789c;
    }

.side-nav .sub-menu li.active > a,
.side-nav .sub-menu li.active > a:hover,
.side-nav .sub-menu li.active > a:focus,
.side-nav .sub-menu li.current-menu-item a,
.side-nav .sub-menu li.current-menu-item a:hover,
.side-nav .sub-menu li.current-menu-item a:focus,
.side-nav .sub-menu li.current-menu-parent a,
.side-nav .sub-menu li.current-menu-parent a:hover,
.side-nav .sub-menu li.current-menu-parent a:focus,
.side-nav .sub-menu li.current_page_item a,
.side-nav .sub-menu li.current_page_item a:hover,
.side-nav .sub-menu li.current_page_item a:focus,
.side-nav .sub-menu li.menu-item a,
.side-nav .sub-menu li.menu-item a:hover,
.side-nav .sub-menu li.menu-itema:focus{
    background-color: #eaeaea;
    }

.side-nav li:hover{
    background-color: #1d789c;
    }


.side-nav>li>ul{
    position: absolute;
    top: 0;
    min-width: 180px;
    display:none;
    left:45px;
    }

.side-nav-off>li>ul{
  left: 180px;

}

.side-nav>li:hover>ul{
  display:block;
}

.side-nav>li>ul>li{    
    top:0;
    background-color: #eaeaea;
    border-bottom: 1px solid #d3d3d3;
}


.side-nav>li>ul>li>a{
	color: #048fc6 !important;
	display: block;
	min-width: 180px;
	padding: 10px 0px 10px 10px;
    text-decoration: none;
    }
	
.sub-menu li a:hover{
	background-color: #ddd !important;
    }

.side-nav > li > a:hover{
    background-color: #d3d3d3;
}


	.side-nav-off > li > a:after {
    	font-family: FontAwesome;
    	content: " \f0da";
    	right: 10px;
    	position: absolute;
	}

	.side-nav-off > li > a:only-child:after {
    	content: " ";
	}

}

.menu-item-text{
	
	display: inline;
	position: absolute;
  margin-left: -65px;
  opacity: 0;
-moz-transition:margin-left 200ms ease-in-out, opacity 300ms ease-in-out;
    -webkit-transition:margin-left 200ms ease-in-out, opacity 300ms ease-in-out;
    -o-transition:margin-left 200ms ease-in-out, opacity 300ms ease-in-out;
    transition:margin-left 200ms ease-in-out, opacity 300ms ease-in-out;

}

	.menu-item-text-off{
		margin-left: 10px;
    opacity: 1; 
    width: 140px;
	}
	

label.nav-toggle{
    top: 75px;
    position: fixed;
    display:block;
    font-weight:700;
    padding-left: 15px;
    height:42px;
    line-height:42px;
    color:#fff;
    background-color:#048fc6;
    font-size:1.5em;
    line-height:2em;
    z-index:500;
    cursor: pointer;
    left: 45px;
      width: 45px;
      margin-left: -45px;
          -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
 
    
}


	label.nav-toggle-off{
		left: 180px;
    	width: 180px;
    	margin-left: -180px;
	}

	input[type="checkbox"].nav-toggle{
    	display:none;
	}

.divider{
    padding: 0; 
    margin:  0 auto;  
    text-align: center; 
    opacity: 0.4;
    width: 80%;
}

	.divider-off{
		width:  90%;
	}

	



/* Nav Qualidade */

.nav-quali > li > a{
    text-align: center;
	font-size: 1.3em;
	color: #048fc6;
	font-weight: 300;
	padding-left: 25px !important;
	padding-right: 25px!important;

}

.nav-quali > li:first-child {


}

.nav-quali {
	border: 1px solid #048fc6;
	border-radius: 5px;
    float:  none;

}

.nav-quali > li > a > .dashicons{
    display: block;
    margin-bottom: 5px;
    margin-left: 30%;
}

.nav-quali > li > a > .fa{
    display: block;
    margin-bottom: 5px;
}

.nav-quali li.active > a,
.nav-quali li.active > a:hover,
.nav-quali li.active > a:focus,
.nav-quali li.current-menu-item a,
.nav-quali li.current-menu-item a:hover,
.nav-quali li.current-menu-item a:focus,
.nav-quali li.current-menu-parent a,
.nav-quali li.current-menu-parent a:hover,
.nav-quali li.current-menu-parent a:focus,
.nav-quali li.current__item a,
.nav-quali li.current_page_item a:hover,
.nav-quali li.current_page_item a:focus {
    background-color:  #048fc6;
    color:  #fff;
}
/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-grid{
    /*	-webkit-column-count: 3;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-fill: auto;
	column-count: 3;
	column-fill: auto;*/
}

.panel{
    /*margin: 10px 0px 0px 0px !important;
    -webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;*/
    padding:  10px;
}

.panel-heading{
    margin:  -10px -10px 10px -10px;
}
.panel-blue {
    border-color: #048fc6;
}

.panel-blue > .panel-heading {
    border-color: #048fc6;
    color: #fff;
    background-color: #048fc6;
}

.panel-green {
    border-color: #86c06b;
}

.panel-green > .panel-heading {
    border-color: #86c06b;
    color: #fff;
    background-color: #86c06b;
}

.panel-red {
    border-color: #eb6446;
}

.panel-red > .panel-heading {
    border-color: #eb6446;
    color: #fff;
    background-color: #eb6446;
}

.panel-grey {
    border-color: #a0a0a0;
}

.panel-grey > .panel-heading {
    border-color: #a0a0a0;
    color: #fff;
    background-color: #a0a0a0;
}

.panel-yellow {
    border-color: #f2bc1e;
}

.panel-yellow > .panel-heading {
    border-color: #f2bc1e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-purple {
    border-color: #956dbc;
}

.panel-purple > .panel-heading {
    border-color: #956dbc;
    color: #fff;
    background-color: #956dbc;
}

.panel-dblue {
    border-color: #3d79ca;
}

.panel-dblue > .panel-heading {
    border-color: #3d79ca;
    color: #fff;
    background-color: #3d79ca;
}

.panel-title > .fa {
    margin-right: 7px;
}

.col-md-8 > .panel {
    padding: 0px;
    width: 100%;
}

.col-md-8 > .panel >.panel-heading{
    margin:  0px;
}


# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-appearance: button;
  cursor: pointer;
}


input#submit{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-appearance: button;
  cursor: pointer;
    color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
  padding: 5px;
  border-radius: 4px;
    
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	  color: #333;
  text-decoration: none;

}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"], 
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

ul.news{
    margin-left: 0px;
    padding-left: 0px;
}

.news li {
    list-style-type: none;
    left: 0px;
    background-color: #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    min-height: 170px;
}

.news h4{
   margin-top: 0px;
   padding-top: 0px;
    
}

.news-block{
	display: inline-block;
}

.readmore{
    bottom: 0px;
    margin-bottom: 0px;
    line-height: 0.1em;
    height: 15px;
}

.post-thumbnail{
    float: left;
    margin-right: 10px;
}

ul.inova{
    margin-left: 0px;
    padding-left: 0px;
}

.inova li {
    list-style-type: none;
    left: 0px;
    background-color: #eee;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}

.avfr-submit-left {
    color: #048fc6;
    font-size: 2em;
}
/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-list{
    list-style-type: none;
    padding-left: 0px;
    left:  0px;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-body {
    background-color: #eee;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 5px 10px;
    border-left: 3px solid #048fc6;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*---------------------------------------------------
    Screen reader
    -----------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/*--------*/

.collapsible {
    margin-bottom: 20px;
    background: #EBEBEB;
    border: 1px solid #CCCCCC;
    padding: 10px;
    width: 500px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #333333;
}
.collapsible button {
    height: 135px;
    float: right;
    border: 1px solid #999999;
    background: #999999;
    color: #CECECE;
    margin-left: 10px;
}
.collapsible button:hover {
    background: #990000;
    border: 1px solid #990000;
}

/*------Q&A-------*/
.dwqa-popular-questions ul {
    margin-left: 0px;
    padding-left: 0px;
}
.dwqa-popular-questions li {
    list-style-type: none;
    left: 0px;
    background-color: #eee;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}    


/*-------------CINQPoints----------------*/
.cinq-points ul {
    margin-left: 0px;
    padding-left: 0px;
}
.cinq-points li {
    list-style-type: none;
    left: 0px;
    background-color: #eee;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}

@media(max-width: 1215px){
h3.points-title {
    text-align: center !important;
	margin: auto !important;
	padding-bottom: 20px;
	padding-top: 20px;
}

.points-hist {
    text-align: center !important;
	margin: auto !important;
	padding-bottom: 20px;
	padding-top: 20px;
}
}

h3.points-title{
	color: #888;
	font-weight: 300;
	margin-left: 40px;
	margin-top: 20px;
	text-align: left;
}
.points-mes{
	margin: 0 auto;
	background-color: #956dbc;
	width: 100px;
	height: 100px;
	text-align:center;
	border-radius: 50px;
	color: #fff;
	}

.points{
	padding-top: 18px;
	font-size: 3em;
	}

.mes-ano{
	margin-top: -15px;
	text-transform: uppercase;
	}

.points-hist{
	margin-top: 30px;
	font-size: 16px;
}
.rank1{
	color: #ffc200;
}

.rank2{
	color: #c0c0c0;
}

.rank3{
	color: #ce8237;
}





/*--------------TEST---------------------*/

.dwqa-search input{
background: none !important;
}

.dwqa-submit-question .input-title .dwqa-search-loading {
    display: none !important;
}
.dwqa-submit-question .search-results-suggest {
    display: none !important;
}

.ui-menu-item{
display: none;
}

input#question-title {
    background: none !important;
}

.ui-autocomplete{
	display: none !important;
}

.ui-helper-hidden-accessible{
	display: none !important;
}
   
.notification{
	background-color: #ff0000;
	color: #fff;
	font-size: 9px;
	    height:15px;
		width: 15px;
		text-align: center;
		float: left;
	border-radius: 15px;
	line-height: 15px;

}

    
    


