#submitpost,
#side-sortables,
#postcustom,
#advanced-sortables,
.update-nag,
#edit-slug-box,
#wpbody-content h1,
#wp-content-media-buttons,
#screen-options-link-wrap{
    display:none;
}
#poststuff #post-body.columns-2{
    margin-right: 0px;
}
#title,
#content{
    color: rgba(51,51,51,.5);
}

#wp-content-editor-container{
    pointer-events: none;
}