#visibility,
.misc-pub-section.curtime.misc-pub-curtime,
.misc-pub-section.misc-pub-post-status,
#preview-action,
#delete-action,
#submitdiv > h2,
#minor-publishing-actions,
#document_statusdiv,
#postcustom,
#members-cp,
.update-nag,
#dwqa-message{
   display: none;
}

#submitdiv > h2 {
    border-bottom: none;
}