@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('Open-Sans-300.eot');
  src: url('Open-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('Open-Sans-300'),
       url('Open-Sans-300.woff2') format('woff2'),
       url('Open-Sans-300.woff') format('woff'),
       url('Open-Sans-300.ttf') format('truetype'),
       url('Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('Open-Sans-600.eot');
  src: url('Open-Sans-600.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold'),
       local('Open-Sans-600'),
       url('Open-Sans-600.woff2') format('woff2'),
       url('Open-Sans-600.woff') format('woff'),
       url('Open-Sans-600.ttf') format('truetype'),
       url('Open-Sans-600.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url('Open-Sans-300italic.eot');
  src: url('Open-Sans-300italic.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light Italic'),
       local('Open-Sans-300italic'),
       url('Open-Sans-300italic.woff2') format('woff2'),
       url('Open-Sans-300italic.woff') format('woff'),
       url('Open-Sans-300italic.ttf') format('truetype'),
       url('Open-Sans-300italic.svg#OpenSans') format('svg');
}

