@font-face {
  font-family: 'iconscinq';
  src:  url('iconscinq.eot?rp9pjg');
  src:  url('iconscinq.eot?rp9pjg#iefix') format('embedded-opentype'),
    url('iconscinq.ttf?rp9pjg') format('truetype'),
    url('iconscinq.woff?rp9pjg') format('woff'),
    url('iconscinq.svg?rp9pjg#iconscinq') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cinqicons-"], [class*=" cinqicons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconscinq' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cinqicons-points:before {
  content: "\e900";
  font-size: 1.3em;
  vertical-align: bottom;
}



